extends layout
block content
  if survey
    h1.page-header 설문 답변
    form#form-survey.form-inline(class='surveys', action='/research/new', method='post')
      .form
        .main
          #mainform
            input(type='hidden', id='survey_id', name='survey_id', value=survey._id)
            label(class='survey title')=survey.title
            br
            label(class='survey content')=survey.content
            input(type='hidden', id='title', name='title', value=survey.title)
            input(type='hidden', id='content', name='content', value=survey.content)
            hr
            each question in survey.questions
              if(question.q_type == '텍스트')
                label()=question.title
                input(type='hidden', id='answer_id', name='answer_id', value=question.id)
                input(type='text', class='input_text sub', id='answer', name='answer', placeholder='질문 답변')
                hr
              else if(question.q_type == '단락텍스트')
                label()=question.title
                input(type='hidden', id='answer_id', name='answer_id', value=question.id)
                textarea.form-control(rows='3', class='input_text sub', id='answer', name='answer', placeholder='질문 답변')
                hr
              else if(question.q_type == '객관식')
                label()=question.title
                input(type='hidden', id='answer_id', name='answer_id', value=question.id)
                input(type='hidden', id='#{question.id}', name='answer')
                br
                each answer in question.answers
                  if answer.answer != ''
                    input(type='radio', id=answer.id, name=question.id, value=answer.answer, onClick="check('#{question.id}','#{answer.answer}');")
                    label(for=answer.id, onclick="check('#{question.id}','#{answer.answer}');")=answer.answer
                    
                hr
            button.btn.btn-primary.btn-lg.btn-block(type='submit') 답변 완료
  else
    .jumbotron
      p 없는 설문 입니다. 주소를 확인해 주세요.
          
